{% extends "base.html" %}
{% block content %}
<div id="account-info" style="margin-top: 10px;">
    <p>Signed in as: <input id="account-name" type="text" disabled value="disabled" class="cs-input" /></p><br>
    <button class="cs-btn" onclick="window.location.href='/sda2/codes'">
        2FA codes for other accounts
    </button>
    <button class="cs-btn" onclick="copyCode()">Copy 2FA code</button><br>
    <button class="cs-btn" id="refresh-btn">Refresh Confirmations</button>
    <section style="margin-top: 20px;">
        <button class="cs-btn" style="font-size: 20px;" id="cancel-all-btn">Cancel All</button>
        <button class="cs-btn" style="font-size: 20px;" onclick="document.querySelector('.cs-dialog').showModal();">
            Accept All
        </button>
        <dialog class="cs-dialog">
            <form method="dialog">
                <div class="heading">
                    <div class="wrapper">
                        <div class="icon"></div>
                        <p class="text">Options</p>
                    </div>
                    <button class="cs-btn close"></button>
                </div>
                <div class="content">
                    This will accept all your confirmations one by one.<br>
                    Are you sure you want to do this?
                </div>
                <menu class="footer-btns">
                    <button class="cs-btn">Cancel</button>
                    <button class="cs-btn" id="accept-all-btn">Apply</button>
                </menu>
            </form>
        </dialog>
    </section>
</div>
<div id="no-confs-msg">You don't have anything to confirm right now.</div>
<div id="confs-container"></div>
{% endblock %}